//mixin
@import 'mixin';

//text
$font-xs: rem(11);
$font-s: rem(13);
$font-m: rem(15);
$font-l: rem(17);
$font-xl: rem(19);

//for rgba
$white: #ffffff !default;
$black: #000000 !default;
$gray: #EEEEEE !default;
$shadow: 0 0 rem(3) rgba($black, 0.1);




















